<div class="d-flex justify-content-center">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" href="/">Chefs</a>
        </li>
        <li class="nav-item">
            <span class="nav-link">|</span>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/dishes">Dishes</a>
        </li>
        <li class="nav-item">
            <span class="nav-link">|</span>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/chefs/new">Add a Chef</a>
        </li>
        <li class="nav-item">
            <span class="nav-link">|</span>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/dishes/new">Add a Dish</a>
        </li>
    </ul>
</div>
