
<form asp-action="Logout" asp-controller="Home" method="post">
    <input type="submit" value="Logout" class="btn btn-link text-primary text-decoration-underline">
</form>

<h1 class="text-center">Success!</h1>