@{
    ViewData["Title"] = "Results";
}
@model User

<div class="container">
    <h1 class="text-center">Submitted Info:</h1>
    <br>
    <div class="d-flex justify-content-around">
        <div class="mr-3">
            <h3 class="text-primary">Name:</h3>
            <h3> @Model.Name</h3>
            <h3 class="text-primary">Language:</h3>
            <h3> @Model.Language</h3>
            <h3 class="text-primary">Location:</h3>
            <h3> @Model.Location</h3>
            <h3 class="text-primary">Comment (Optional):</h3>
            <div>
                <h3>@Model.Comment</h3>
            </div>
        </div>
    </div>
</div>