<div class="d-flex justify-content-center">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" href="/weddings">Home</a>
        </li>
        <li class="nav-item">
            <span class="nav-link">|</span>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/weddings/new">Plan a Wedding</a>
        </li>
        <li class="nav-item">
            <span class="nav-link">|</span>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
        </li>
    </ul>
</div>