body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-color: #f0f0f0;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
    padding-right: 20px;
    padding-top: 8px;
}

input, select, textarea {
    width: 300px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    background-color: cadetblue;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: cadetblue;
}

.container {
    display: flex;
    flex-direction: row;
}